.servicesContainer {
     position: relative;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     width: 100%;
     border: 2px solid pink;
}