// Colors
$primary-text: #53ab3e;
// $primary-text: #131313;
$secondary-text: #636361;
$cta-color: #9E052A;

$home-pink: #fff4ee;
$home-beige: #f8f1e3;






:export {
  primaryText: $primary-text;
  accent: $cta-color;
}
